<script>
  function handleLoad() {
    document.querySelectorAll('[class=fr-loading-box]').forEach((node) => {
      node.style.display = 'none';
    })
  }
</script>

<div id="frontrow-badge">

{% if request.path contains '/products/vmagic-vulvar-balm-skincare-jar' or request.path contains '/products/vmagic-feminine-lips-stick' or request.path contains '/products/2oz-vmagic-jar-2-single-serves-feminine-lips-stick' or request.path contains '/products/lichen-sclerosus-care-bundle'%}
  <script async type="text/javascript" src="https://app.thefrontrowhealth.com/api/widgets/script?presentation_type=quant&product_id=1221"></script>
  <iframe class="iframe-frontrow" id="iframe-frontrow" onload="handleLoad()" frameborder="0" src="https://app.thefrontrowhealth.com/api/widgets?presentation_type=quant&product_id=1221"></iframe>

{% elsif request.path contains '/products/vmagic-feminine-wash' or request.path contains '/products/vmagic-menopause-must-haves' or request.path contains '/products/vmagic-skincare-jar-feminine-wash'%}
  <script async type="text/javascript" src="https://app.thefrontrowhealth.com/api/widgets/script?presentation_type=quant&product_id=1222"></script>
  <iframe class="iframe-frontrow" id="iframe-frontrow" onload="handleLoad()" frameborder="0" src="https://app.thefrontrowhealth.com/api/widgets?presentation_type=quant&product_id=1222"></iframe>

{% elsif request.path contains '/products/organic-lubricant-vaginal-moisturizer' or request.path contains '/products/intimate-moisturizer-duo-vaginal-moisturizer' or request.path contains '/products/intimacy-bundle'%}
  <script async type="text/javascript" src="https://app.thefrontrowhealth.com/api/widgets/script?presentation_type=quant&product_id=1254"></script>
  <iframe class="iframe-frontrow" id="iframe-frontrow-quant" onload="handleLoad()" frameborder="0" src="https://app.thefrontrowhealth.com/api/widgets?presentation_type=quant&product_id=1254"></iframe>
  
{% else %}
  <style> #frontrow-badge {display: none !important;} </style>
{% endif %}

<div class="fr-loading-box">
  <div class="fr-provider-container">
    <div class="fr-loading-provider"></div>
    <div class="fr-loading-provider fr-sample"></div>
    <div class="fr-loading-provider fr-sample"></div>
  </div>
  <div class="fr-text">
      <span class=""></span>
      <span class="fr-shorter"></span>
  </div>
</div>
</div>

<style>#frontrow-badge{position:relative}.iframe-frontrow{width:100%;height:84px;margin:0}.iframe-ask-doctor-frontrow,.iframe-modal-frontrow{display:none;position:fixed;z-index:99999999;left:0;top:0;right:0;bottom:0;width:100%;height:100%;overflow:hidden}.fr-loading-box,.fr-loading-box div:empty,.fr-loading-box span:empty,.fr-text,.fr-text span{display:flex}.fr-text{flex-direction:column;gap:8px;flex:1}.fr-text span.fr-shorter{width:80%}.fr-text span{width:100%;background-color:#e0e0e0;height:20px;border-radius:100px}.fr-loading-box{position:absolute;top:0;left:0;z-index:2;padding:18px 16px;gap:14px;border-radius:12px;background-color:#fff;border:none;width:100%;cursor:pointer}.fr-loading-provider{border-radius:100px;width:36px;height:36px;border:2px solid #fff;background-color:#e0e0e0}.fr-provider-container{flex-shrink:0;display:flex;flex-direction:row;justify-content:flex-start;align-items:center;min-width:80px}.fr-loading-provider .fr-sample{margin-left:-14px}@media only screen and (max-width:480px){.fr-loading-box{padding:14px 12px;gap:8px}}</style>
 
