{%- liquid
  assign incentives = block.settings.incentives | newline_to_br | split: "<br />"

  assign call_to_action = block.settings.call_to_action

  assign url = block.settings.url
-%}

<a href="{{ url }}" class="button-amazon">
  <span>{%- render "icon-amazon" -%}</span>
  <span>{{ call_to_action }}</span>
  <span>{%- render "icon-arrow-right" -%}</span>
</a>

<ul class="landing-offer-incentives">
  {%- for incentive in incentives -%}
    <li>{{ incentive }}</li>
  {%- endfor -%}
</ul>
