<div class="slider-buttons no-js-hidden medium-hide">
  <button
    type="button"
    class="slider-button slider-button--prev"
    name="previous"
    aria-label="{{ 'general.slider.previous_slide' | t }}"
  >
    {% render 'icon-caret' %}
  </button>
  <div class="slider-counter caption">
    <span class="slider-counter--current">1</span>
    <span aria-hidden="true"> / </span>
    <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
    <span class="slider-counter--total">{{ section.blocks.size }}</span>
  </div>
  <button
    type="button"
    class="slider-button slider-button--next"
    name="next"
    aria-label="{{ 'general.slider.next_slide' | t }}"
  >
    {% render 'icon-caret' %}
  </button>
</div>
