{%- liquid
  assign section_top = section.settings.section_top

  assign section_bottom = section.settings.section_bottom

  assign section_top_mobile = section.settings.section_top_mobile

  assign section_bottom_mobile = section.settings.section_bottom_mobile
-%}

<div class="landing-container top-{{ section_top }} small--top-{{ section_top_mobile }} bottom-{{ section_bottom }} small--bottom-{{ section_bottom }}">
  <div class="text--center">
    {%- render "landing-button" -%}
  </div>
</div>

{%- schema -%}
  {
    "name": "Button",
    "tag": "section",
    "settings": [
      {
        "type": "select",
        "id": "section_top",
        "label": "Section top",
        "options": [
          {
            "label": "None",
            "value": "none"
          },
          {
            "label": "0",
            "value": "0"
          },
          {
            "label": "1",
            "value": "1"
          },
          {
            "label": "2",
            "value": "2"
          },
          {
            "label": "3",
            "value": "3"
          },
          {
            "label": "4",
            "value": "4"
          },
          {
            "label": "5",
            "value": "5"
          }
        ],
        "default": "none"
      },
      {
        "type": "select",
        "id": "section_bottom",
        "label": "Section bottom",
        "options": [
          {
            "label": "None",
            "value": "none"
          },
          {
            "label": "0",
            "value": "0"
          },
          {
            "label": "1",
            "value": "1"
          },
          {
            "label": "2",
            "value": "2"
          },
          {
            "label": "3",
            "value": "3"
          },
          {
            "label": "4",
            "value": "4"
          },
          {
            "label": "5",
            "value": "5"
          }
        ],
        "default": "none"
      },
      {
        "type": "select",
        "id": "section_top_mobile",
        "label": "Section top (mobile)",
        "options": [
          {
            "label": "None",
            "value": "none"
          },
          {
            "label": "0",
            "value": "0"
          },
          {
            "label": "1",
            "value": "1"
          },
          {
            "label": "2",
            "value": "2"
          },
          {
            "label": "3",
            "value": "3"
          },
          {
            "label": "4",
            "value": "4"
          },
          {
            "label": "5",
            "value": "5"
          }
        ],
        "default": "2"
      },
      {
        "type": "select",
        "id": "section_bottom_mobile",
        "label": "Section bottom (mobile)",
        "options": [
          {
            "label": "None",
            "value": "none"
          },
          {
            "label": "0",
            "value": "0"
          },
          {
            "label": "1",
            "value": "1"
          },
          {
            "label": "2",
            "value": "2"
          },
          {
            "label": "3",
            "value": "3"
          },
          {
            "label": "4",
            "value": "4"
          },
          {
            "label": "5",
            "value": "5"
          }
        ],
        "default": "none"
      }
    ]
  }
{%- endschema -%}
