<div class="stack-2">
  <div class="box-color-1" style="height: 37px;">

  </div>

  <div class="center">
    {%- render "icon-logo" -%}
  </div>
</div>

{%- schema -%}
  {
    "name": "Header",
    "tag": "section"
  }
{%- endschema -%}