.featured-reviews,
.featured-reviews__slider {
  position: relative;
}
.featured-review {
  border-radius: 2rem;
  padding: 2rem;
  background: white;

}

.featured-review__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.featured-review__header a {
  color: inherit;
}

.featured-review__image {
  width: 5.4rem;
  height: 5.4rem;
  position: relative;
  border-radius: 1.2rem;
}

.featured-review__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.featured-review h3 {
  margin: 0;

}

.featured-reviews__header {
  font-size: 31px;
  font-weight: normal;
  margin-bottom: 2rem;
}

.featured-review__verified {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.rating-star:before {
  -webkit-text-fill-color: black !important;
}

.featured-review__review p:first-child {
  margin-top: 0;
}

.featured-review__link {
  text-transform: uppercase;
  font-weight: bold;
}

.featured-review h3 a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

@media screen and (max-width: 749px) {
  .featured-reviews .swiper-slide:not(.swiper-slide-active) {
    opacity: 0.5;
  }
  .featured-reviews--arrows {
    display: flex;
    margin-top: 3rem;
    position: relative;
    justify-content: flex-end;

  }
  .featured-reviews .swpr-prev,
  .featured-reviews .swpr-next {
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    margin: 1rem;
  }
  .featured-review.card {
    text-align: left;
  }
}


.featured-review {
  text-align: left !important;
}