.quick-add__open,
.view-product-button {
  width: 100%;
  display: block;
  max-width: 100%;
  min-width: 0;
  box-sizing: border-box;
  position: relative;
  z-index: 3;
  margin-top: 1rem;
  background: white;
  color: black;
}

.view-product-button {
  text-align: center;
  line-height: 1.7;
}