.quick-add-drawer__title {
  margin: .25rem 0 0;
  font-size: 22px;
  line-height: normal;
}
.quick-add__submit {
  border-radius: 9px;
  border-color: black;
  background: white;
  color: black;
  margin-bottom: 20px;
  margin-top: 1.7rem
}
quick-add-drawer .drawer__inner {
  padding: 0;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background: var(--warm-white);
}
quick-add-drawer .drawer__header {
  padding-bottom: 0;
}
quick-add-drawer .drawer__close {
  min-width: 2rem;
  min-height: 2rem;
}
.quick-add__inner {
  padding: 0 20px 20px;
}

.quick-add-drawer__image {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

quick-add-drawer .rc-radio + .rc-radio {
  margin-top: 2rem;
}

quick-add-drawer .rc_popup {
  display: none;
}

quick-add-drawer .link {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-top: 2rem;
}

.quick-add-drawer__title {
  text-transform: uppercase;
}

quick-add-drawer .buy-buttons__wrapper,
quick-add-drawer .widget__radio + .widget__radio {
  margin-top: 2rem;
}

quick-add-drawer .quantity__label {
  display: none;
}



quick-add-drawer .quantity-and-buttons {
  flex-direction: column;
}

quick-add-drawer .product-form__quantity {
  max-width: 100%;
}

quick-add-drawer .buy-buttons__wrapper {
  margin-left: 0;
}

.quick-add__inner .variant-picker-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}


quick-add-variant-picker {
  width: calc(33% - 0.2rem);
}

quick-add-variant-picker input[type='radio'] {
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}

quick-add-variant-picker input[type='radio'] + label {
  width: 100%;
  border: var(--variant-pills-border-width) solid rgba(var(--color-foreground), var(--variant-pills-border-opacity));
  background-color: rgb(var(--color-background));
  color: rgba(var(--color-foreground));
  border-radius: var(--variant-pills-radius);
  color: rgb(var(--color-foreground));
  display: inline-block;
  margin: 0 0.2rem;
  padding: 0.6rem 0.5rem;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  line-height: 1;
  text-align: center;
  transition: border var(--duration-short) ease;
  cursor: pointer;
  position: relative;
}

quick-add-variant-picker input[type='radio'] + label:before {
  content: '';
  position: absolute;
  top: calc(var(--variant-pills-border-width) * -1);
  right: calc(var(--variant-pills-border-width) * -1);
  bottom: calc(var(--variant-pills-border-width) * -1);
  left: calc(var(--variant-pills-border-width) * -1);
  z-index: -1;
  border-radius: var(--variant-pills-radius);
  box-shadow: var(--variant-pills-shadow-horizontal-offset) var(--variant-pills-shadow-vertical-offset)
    var(--variant-pills-shadow-blur-radius) rgba(var(--color-shadow), var(--variant-pills-shadow-opacity));
}

quick-add-variant-picker input[type='radio'] + label:hover {
  border-color: rgb(var(--color-foreground));
}

quick-add-variant-picker input[type='radio']:checked + label {
  background-color: rgb(var(--color-foreground));
  color: rgb(var(--color-background));
}

quick-add-variant-picker input[type='radio']:not(.disabled) + label > .visually-hidden {
  display: none;
}

@media screen and (forced-colors: active) {
  quick-add-variant-picker input[type='radio']:checked + label {
    text-decoration: underline;
  }
}

quick-add-variant-picker input[type='radio']:checked + label::selection {
  background-color: rgba(var(--color-background), 0.3);
}

quick-add-variant-picker input[type='radio']:disabled + label,
quick-add-variant-picker input[type='radio'].disabled + label {
  border-color: rgba(var(--color-foreground), 0.1);
  color: rgba(var(--color-foreground), 0.6);
  text-decoration: line-through;
}

quick-add-variant-picker input[type='radio'].disabled:checked + label,
quick-add-variant-picker input[type='radio']:disabled:checked + label {
  color: rgba(var(--color-background), 0.6);
}
quick-add-variant-picker input[type='radio']:focus-visible + label {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0 0.5rem rgba(var(--color-foreground), 0.55);
}

quick-add-variant-picker input[type='radio'].focused + label,
.no-js .shopify-payment-button__button [role='button']:focus + label {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0 0.5rem rgba(var(--color-foreground), 0.55);
}

.no-js quick-add-variant-picker input[type='radio']:focus:not(:focus-visible) + label {
  box-shadow: none;
}

quick-add-variant-picker input[type='radio'] + label {
        text-transform: uppercase;
        font-weight: bold;

      }

quick-add-variant-picker input[type='radio']:checked + label {
        background-color: #FFE5E0;
        color: black;
        border: 1.2px solid black
      }

.quick-add-variant-picker__label-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    }

.quick-add-variant-picker__savings {
  position: absolute;
  bottom: -16px;
  background-color: var(--red);
  color: #fff;
  padding: 3px 6px;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: normal;
  white-space: nowrap;
  text-transform: none;
}
