:root {
  --ratio: 1.5;

  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --s6: calc(var(--s5) * var(--ratio));

  --color-1: #F51E28;
  --color-2: #B41214;
}


.color-1 {
  color: var(--color-1);
}

.color-2 {
  color: var(--color-2);
}


.box-color-1 {
  background-color: var(--color-1);
}

.box-color-2 {
  background-color: var(--color-2);
}


.container,
.container--standard {
  max-width: calc(var(--container-width, 1240px) + (var(--s0) * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--s0);
  padding-left: var(--s0);
}

.container--standard-flush {
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
}

.container--narrow {
  max-width: calc((1240px * 0.667) + (var(--s0) * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--s0);
  padding-left: var(--s0);
}

.container--narrow-flush {
  max-width: calc(1240px * 0.667);
  margin-right: auto;
  margin-left: auto;
}


.stack--4 > * + * {
  margin-top: var(--s-4);
}

.stack--3 > * + * {
  margin-top: var(--s-3);
}

.stack--2 > * + * {
  margin-top: var(--s-2);
}

.stack--1 > * + * {
  margin-top: var(--s-1);
}

.stack > * + *,
.stack-0 > * + * {
  margin-top: var(--s0);
}

.stack-1 > * + * {
  margin-top: var(--s1);
}

.stack-2 > * + * {
  margin-top: var(--s2);
}

.stack-3 > * + * {
  margin-top: var(--s3);
}

.stack-4 > * + * {
  margin-top: var(--s4);
}

.stack-5 > * + * {
  margin-top: var(--s5);
}

.stack-none > * + * {
  margin-top: 0;
}

@media (max-width: 767px) {
  .small--stack--2 > * + * {
    margin-top: var(--s-2);
  }

  .small--stack--1 > * + * {
    margin-top: var(--s-1);
  }

  .small--stack > * + *,
  .small--stack-0 > * + * {
    margin-top: var(--s0);
  }

  .small--stack-1 > * + * {
    margin-top: var(--s1);
  }

  .small--stack-2 > * + * {
    margin-top: var(--s2);
  }

  .small--stack-3 > * + * {
    margin-top: var(--s3);
  }

  .small--stack-4 > * + * {
    margin-top: var(--s4);
  }

  .small--stack-5 > * + * {
    margin-top: var(--s5);
  }

  .small--stack-none > * + * {
    margin-top: 0;
  }
}


.stack-item--3 {
  margin-top: var(--s-3);
}

.stack-item--2 {
  margin-top: var(--s-2);
}

.stack-item--1 {
  margin-top: var(--s-1);
}

.stack-item,
.stack-item-0 {
  margin-top: var(--s0);
}

.stack-item-1 {
  margin-top: var(--s1);
}

.stack-item-2 {
  margin-top: var(--s2);
}

.stack-item-3 {
  margin-top: var(--s3);
}

.stack-item-4 {
  margin-top: var(--s4);
}

.stack-item-5 {
  margin-top: var(--s5);
}

.stack-item-none {
  margin-top: 0;
}

@media (max-width: 767px) {
  .small--stack-item--3 {
    margin-top: var(--s-3);
  }

  .small--stack-item--2 {
    margin-top: var(--s-2);
  }

  .small--stack-item--1 {
    margin-top: var(--s-1);
  }

  .small--stack-item,
  .small--stack-item-0 {
    margin-top: var(--s0);
  }

  .small--stack-item-1 {
    margin-top: var(--s1);
  }

  .small--stack-item-2 {
    margin-top: var(--s2);
  }

  .small--stack-item-3 {
    margin-top: var(--s3);
  }

  .small--stack-item-4 {
    margin-top: var(--s4);
  }

  .small--stack-item-5 {
    margin-top: var(--s5);
  }

  .small--stack-item-none {
    margin-top: 0;
  }
}

[class*=stack-item-]:first-child {
  margin-top: 0;
}


.stack-split {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}


.box--2 {
  padding: var(--s-2);
}

.box--1 {
  padding: var(--s-1);
}

.box {
  padding: var(--s0);
}

.box-1 {
  padding: var(--s1);
}

.box-2 {
  padding: var(--s2);
}

.box-3 {
  padding: var(--s3);
}

.box-4 {
  padding: var(--s3);
}

@media (max-width: 767px) {
  .small--box--2 {
    padding: var(--s-2);
  }

  .small--box--1 {
    padding: var(--s-1);
  }

  .small--box {
    padding: var(--s0);
  }

  .small--box-1 {
    padding: var(--s1);
  }

  .small--box-2 {
    padding: var(--s2);
  }

  .small--box-3 {
    padding: var(--s3);
  }

  .small--box-4 {
    padding: var(--s3);
  }
}


.block--3 {
  padding-top: var(--s-3);
  padding-bottom: var(--s-3);
}

.block--2 {
  padding-top: var(--s-2);
  padding-bottom: var(--s-2);
}

.block--1 {
  padding-top: var(--s-1);
  padding-bottom: var(--s-1);
}

.block,
.block-0 {
  padding-top: var(--s0);
  padding-bottom: var(--s0);
}

.block-1 {
  padding-top: var(--s1);
  padding-bottom: var(--s1);
}

.block-2 {
  padding-top: var(--s2);
  padding-bottom: var(--s2);
}

.block-3 {
  padding-top: var(--s3);
  padding-bottom: var(--s3);
}

.block-4 {
  padding-top: var(--s4);
  padding-bottom: var(--s4);
}

.block-5 {
  padding-top: var(--s5);
  padding-bottom: var(--s5);
}

.block-none {
  padding-top: 0;
  padding-bottom: 0;
}

@media (max-width: 768px) {
  .small--block--3 {
    padding-top: var(--s-3);
    padding-bottom: var(--s-3);
  }

  .small--block--2 {
    padding-top: var(--s-2);
    padding-bottom: var(--s-2);
  }

  .small--block--1 {
    padding-top: var(--s-1);
    padding-bottom: var(--s-1);
  }

  .small--block,
  .small--block-0 {
    padding-top: var(--s0);
    padding-bottom: var(--s0);
  }

  .small--block-1 {
    padding-top: var(--s1);
    padding-bottom: var(--s1);
  }

  .small--block-2 {
    padding-top: var(--s2);
    padding-bottom: var(--s2);
  }

  .small--block-3 {
    padding-top: var(--s3);
    padding-bottom: var(--s3);
  }

  .small--block-4 {
    padding-top: var(--s4);
    padding-bottom: var(--s4);
  }

  .small--block-none {
    padding-top: 0;
    padding-bottom: 0;
  }
}


.inline--3 {
  padding-left: var(--s-3);
  padding-right: var(--s-3);
}

.inline--2 {
  padding-left: var(--s-2);
  padding-right: var(--s-2);
}

.inline--1 {
  padding-left: var(--s-1);
  padding-right: var(--s-1);
}

.inline,
.inline-0 {
  padding-left: var(--s0);
  padding-right: var(--s0);
}

.inline-1 {
  padding-left: var(--s1);
  padding-right: var(--s1);
}

.inline-2 {
  padding-left: var(--s2);
  padding-right: var(--s2);
}

.inline-3 {
  padding-left: var(--s3);
  padding-right: var(--s3);
}

.inline-4 {
  padding-left: var(--s4);
  padding-right: var(--s4);
}

.inline-5 {
  padding-left: var(--s5);
  padding-right: var(--s5);
}

.inline-none {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 768px) {
  .small--inline--3 {
    padding-left: var(--s-3);
    padding-right: var(--s-3);
  }

  .small--inline--2 {
    padding-left: var(--s-2);
    padding-right: var(--s-2);
  }

  .small--inline--1 {
    padding-left: var(--s-1);
    padding-right: var(--s-1);
  }

  .small--inline,
  .small--inline-0 {
    padding-left: var(--s0);
    padding-right: var(--s0);
  }

  .small--inline-1 {
    padding-left: var(--s1);
    padding-right: var(--s1);
  }

  .small--inline-2 {
    padding-left: var(--s2);
    padding-right: var(--s2);
  }

  .small--inline-3 {
    padding-left: var(--s3);
    padding-right: var(--s3);
  }

  .small--inline-4 {
    padding-left: var(--s4);
    padding-right: var(--s4);
  }

  .small--inline-none {
    padding-left: 0;
    padding-right: 0;
  }
}


.top--3 {
  padding-top: var(--s-3);
}

.top--2 {
  padding-top: var(--s-2);
}

.top--1 {
  padding-top: var(--s-1);
}

.top,
.top-0 {
  padding-top: var(--s0);
}

.top-1 {
  padding-top: var(--s1);
}

.top-2 {
  padding-top: var(--s2);
}

.top-3 {
  padding-top: var(--s3);
}

.top-4 {
  padding-top: var(--s4);
}

.top-5 {
  padding-top: var(--s5);
}

.top-6 {
  padding-top: var(--s6);
}

.top-none {
  padding-top: 0;
}

@media (max-width: 768px) {
  .small--top--3 {
    padding-top: var(--s-3);
  }

  .small--top--2 {
    padding-top: var(--s-2);
  }

  .small--top--1 {
    padding-top: var(--s-1);
  }

  .small--top,
  .small--top-0 {
    padding-top: var(--s0);
  }

  .small--top-1 {
    padding-top: var(--s1);
  }

  .small--top-2 {
    padding-top: var(--s2);
  }

  .small--top-3 {
    padding-top: var(--s3);
  }

  .small--top-4 {
    padding-top: var(--s4);
  }

  .small--top-5 {
    padding-top: var(--s5);
  }

  .small--top-6 {
    padding-top: var(--s6);
  }

  .small--top-none {
    padding-top: 0;
  }
}


.bottom--3 {
  padding-bottom: var(--s-3);
}

.bottom--2 {
  padding-bottom: var(--s-2);
}

.bottom--1 {
  padding-bottom: var(--s-1);
}

.bottom,
.bottom-0 {
  padding-bottom: var(--s0);
}

.bottom-1 {
  padding-bottom: var(--s1);
}

.bottom-2 {
  padding-bottom: var(--s2);
}

.bottom-3 {
  padding-bottom: var(--s3);
}

.bottom-4 {
  padding-bottom: var(--s4);
}

.bottom-5 {
  padding-bottom: var(--s5);
}

.bottom-6 {
  padding-bottom: var(--s6);
}

.bottom-none {
  padding-bottom: 0;
}

@media (max-width: 768px) {
  .small--bottom--3 {
    padding-bottom: var(--s-3);
  }

  .small--bottom--2 {
    padding-bottom: var(--s-2);
  }

  .small--bottom--1 {
    padding-bottom: var(--s-1);
  }

  .small--bottom,
  .small--bottom-0 {
    padding-bottom: var(--s0);
  }

  .small--bottom-1 {
    padding-bottom: var(--s1);
  }

  .small--bottom-2 {
    padding-bottom: var(--s2);
  }

  .small--bottom-3 {
    padding-bottom: var(--s3);
  }

  .small--bottom-4 {
    padding-bottom: var(--s4);
  }

  .small--bottom-5 {
    padding-bottom: var(--s5);
  }

  .small--bottom-6 {
    padding-bottom: var(--s6);
  }

  .small--bottom-none {
    padding-bottom: 0;
  }
}


.background-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


.object-cover {
  display: block;
  overflow: hidden;
  max-height: 100%;
}

.object-cover > video,
.object-cover > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

  /* TODO: Support focus points for all images */
  object-position: var(--focus-x, 50%) var(--focus-y, 50%);
}

.ratio--image {
  aspect-ratio: var(--image-width) / var(--image-height);
}

.ratio--square {
  aspect-ratio: 1 / 1;
}

.ratio--portrait {
  aspect-ratio: 3 / 4;
}

.ratio--landscape {
  aspect-ratio: 4 / 3;
}

.ratio--widescreen {
  aspect-ratio: 16 / 9;
}

.ratio--strip {
  aspect-ratio: 16 / 5;
}

.ratio--product {
  aspect-ratio: 4 / 5;
}

@media (max-width: 767px) {
  .small--ratio--square {
    aspect-ratio: 1 / 1;
  }

  .small--ratio--landscape {
    aspect-ratio: 4 / 3;
  }

  .small--ratio--widescreen {
    aspect-ratio: 16 / 9;
  }
}


.visibility--none {
  display: none;
}

@media (max-width: 767px) {
  .visibility--desktop {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visibility--mobile {
    display: none !important;
  }
}
